.img2 {
  background-image: url(stories/mobile/mountains.jpg);
}
.img3 {
  background-image: url(stories/mobile/cityscapes.jpg);
}
.img4 {
  background-image: url(stories/mobile/18-days-voyage.jpg);
}
.img5 {
  background-image: url(stories/mobile/architecturals.jpg);
}
.img6 {
  background-image: url(stories/mobile/world-tour.jpg);
}
.img7 {
  background-image: url(stories/mobile/unforeseen-corners.jpg);
}
.img8 {
  background-image: url(stories/mobile/king-on-africa.jpg);
}
.img9 {
  background-image: url(stories/mobile/trip-to-nowhere.jpg);
}
.img10 {
  background-image: url(stories/mobile/rage-of-the-sea.jpg);
}
.img11 {
  background-image: url(stories/mobile/running-free.jpg);
  background-size: cover;
  background-repeat: round;
}
.img12 {
  background-image: url(stories/mobile/behind-the-waves.jpg);
}
.img13 {
  background-image: url(stories/mobile/calm-waters.jpg);
}
.img14 {
  background-image: url(stories/mobile/milky-way.jpg);
}
.img15 {
  background-image: url(stories/mobile/dark-forest.jpg);
}
.img16 {
  background-image: url(stories/mobile/somwarpet.jpg);
}
.img17 {
  background-image: url(stories/mobile/land-of-dreams.jpg);
}
