* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	list-style: none;
	border: none;
	text-decoration: none;
    font-size: 100%;
	vertical-align: baseline;
    background-color: transparent;
}
html, body {
    margin: auto;
}
body {
    font-family: 'DM Sans', sans-serif;
    background: #F2F2F2;
}
.menu-clasic, .hero-tablet, .hero-desktop {
    display: none;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 30px 38px 28px 24px;
}
header {
    position: relative;
    z-index: 99;
}
.btn span {
    cursor: pointer;
    width: 25px;
    height: 1px;
    display: block;
    margin: 5px 0;
    background-color: black;
    transition: all .5s ease;
}
.btn.active span {
    margin: 0;
}
.btn.active span:first-child {
    transform: rotate(45deg);
}
.btn.active span:last-child {
    transform: rotate(-45deg);
}
.menu {
    background: white;
    padding: 10px 33px 10px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.menu.show {
    top: 75px;
    opacity: 1;
    visibility: visible;
}
.menu ul li {
    margin: 20px 0;
}
.invite-li {
    color: #FFFFFF;
    background: #000000;
    width: 310px;
    height: 47px;
    padding-top: 14px;
}
.divider {
    width: 100%;
    height: 1px;
    background: #000000;
    opacity: 0.25;
    margin: 5px auto;
    margin: 20px 0;
}
a:link {
    color: #000000;
  }
a:visited {
    color: #000000;
  }
body.dimmed {
    position: relative;
}
body.dimmed::after {
    content: '';
    display: block;
    background: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    animation: fadein 1s ease;
    animation-fill-mode: forwards;
}
/* მენიუს გახსნისას ნელი დამუქება */
@keyframes fadein {
    to {opacity: .5; visibility: visible;}
}

.section-one {
    display: flex;
    flex-direction: column;
    position: relative;
}
.text {
    margin-top: -5px;
    height: 300px;
    background: #000000;
    padding: 72px 28px;
}
.hero-mobile {
    width: 100%;
    height: 294px;
    object-fit: cover;
}
.line-one {
    position: absolute;
    z-index: 1;
    top: 294px;
    left: 30px;
    width: 128px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}
.text-h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.text-p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;

    min-width: 318px;
}
.section-two {
    padding: 64px 32px 51px 32px;
    background: #FFFFFF;
}
.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
}
.txt-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;

    margin: 48px 0 16px 0;
}
.txt-p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.section-three {
    position: relative;
    background-image: url(./Assets/shared/mobile/bg-beta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.line-two {
    position: absolute;
    z-index: 2;
    bottom: 282px;
    left: 30px;
    width: 128px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}
.beta-two-elements {
    align-self: self-start;
    display: flex;
    gap: 16px;
}
.beta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 64px 0 64px 25px;
}
.beta-h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #FFFFFF;

    height: 120px;
    margin-bottom: 24px;
    align-self: self-start;
}
.beta-p {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 2px;
    color: #FFFFFF;
}
footer {
    height: 539px;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
    width: 200px;
    margin: 56px 0 34px 0;
    cursor: pointer;
}
.social-icons {
    display: flex;
    gap: 25px;
}
.social-icons svg path {
    cursor: pointer;
    fill: #FFFFFF;
}
.pages p {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.pages {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin: 50px 0 119px 0;
}
.beta-two-elements-footer {
    justify-content: center;
    display: flex;
    margin-bottom: 34px;
    gap: 22px;
}
.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 60px;
}
