* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 24px 24px 28px;
  position: relative;
}

.menuBar {
  display: inline-block;
  cursor: pointer;
  opacity: 1;
}
.bar1,
.bar2 {
  width: 20px;
  height: 1px;
  background: #000000;
  margin: 4px 0px;
  transition: 0.4s;
}
.clicked {
  opacity: 0;
  width: 20px;
  height: 1px;
  background: #000000;
}

.none {
  height: 16px;
  width: 16px;
  display: none;
}
.none img {
  width: 100%;
  height: 100%;
}

.click {
  display: block;
}

header nav {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul li {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000000;
}
header nav button {
  color: #dfdfdf;
  background: #000000;
  width: 100%;
  min-height: 48px;
}

.invisible {
  opacity: 0;
  transition: all 2s;
}

.opened {
  opacity: 1;
  transition: all 2s;
}

.img1 {
  margin-bottom: -5px;
}
.img1 img {
  display: block;
  min-width: 100%;
}

.header-content {
  padding: 48px 29px 48px 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #000000;
}

.header-content h3,
.card h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
}

.header-content h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #ffffff;
}

.section1 .header-content .p1 {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.section1 .header-content .p2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 9px;
}

.spancolor {
  display: flex;
  gap: 9px;
}

.header-content span {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
}

.img-bg {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0.27%,
    rgba(0, 0, 0, 0.661222) 100%
  );
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}

.img-bg:hover {
  transform: translateY(-30px);
  transition: transform 0.5s ease-out;
  border-bottom: 6px solid;
  border-image: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
  border-image-slice: 1;
  width: 100%;
}
.footer-grid {
  display: grid;
  grid-template-columns: auto auto;
}
.card {
  padding: 215px 41px 40px 41px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0.27%,
    rgba(0, 0, 0, 0.661222) 100%
  );
}
.card-footer1 a {
  display: flex;
  gap: 16px;
  padding-top: 9px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
  margin-top: 28px;
}
.card p {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
}

.card h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.card-footer2 a {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

footer {
  background: #000000;
  color: #ffffff;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 56px;
  gap: 33px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-align: center;
  align-items: center;
}

footer .footer-logo {
  margin-bottom: 32px;
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

footer .social-logo {
  margin-top: 32px;
  display: flex;
  gap: 13px;
  justify-content: center;
}
footer .flex {
  padding-top: 50px;
  padding-bottom: 119px;
}

.card-footer3 a,
.links a {
  display: flex;
  gap: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
}
.social-logo path {
  fill: #ffffff;
}
.social-logo .facebook path:hover {
  fill: url(#a);
}
.social-logo .youtube path:hover {
  fill: url(#b);
}
.social-logo .twitter path:hover {
  fill: url(#c);
}

.social-logo .pinterest path:hover {
  fill: url(#d);
}
.social-logo .instagram path:hover {
  fill: url(#e);
}
.header button:hover {
  background: #dfdfdf;
  color: #000000;
  transition: 2s ease-in-out;
}
footer a:hover {
  color: #bc7198;
  transition: 2s ease-in-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}

.card-footer2:hover,
.card-footer1:hover {
  text-decoration-line: underline;
  color: #ffffff;
  animation-name: slideInLeft;
  animation-duration: 2s;
}
li:hover {
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.copyright {
  padding: 34px 60px 56px 60px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto;
}

@media screen and (min-width: 768px) {
  .img1 img {
    display: none;
  }

  .section1 {
    background-image: url(stories/tablet/moon-of-appalacia.jpg);
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    padding: 122px 342px 122px 39px;
    display: flex;
    gap: 24px;
    text-align: start;
  }
  .header-content {
    background: transparent;
    width: 387px;
    padding: 0px;
  }
  .spancolor {
    margin-top: -8px;
  }
  .section2 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .invisible {
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
    transform: translateY(22%);
    transition: all 0s;
    padding: 16px;
    background-color: transparent;
  }
  header {
    padding-bottom: 0;
  }

  header img {
    margin-left: 11px;
    z-index: 999;
  }

  header hr {
    display: none;
  }

  .invisible ul {
    flex-direction: row;
    gap: 37px;
    margin-bottom: 12px;
  }

  .invisible ul li {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
  }
  .invisible button {
    color: #dfdfdf;
    width: 158px;
    margin-left: 37px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 18px;
  }
  .menuBar {
    opacity: 0;
  }

  .header-content h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
  }
  .header-content h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }

  .section1 .header-content .p2 {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    min-width: 100%;
  }
  .grid1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .grid2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }
  .navigation .flex {
    flex-direction: row;
  }
  footer .social-logo {
    position: absolute;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .copyright {
    padding: 0px;
  }
  footer .container {
    padding: 64px 39px;
  }

  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    gap: 33px;
  }
  footer {
    background: #000000;
    color: #ffffff;
  }

  .grid1 .footer-logo {
    margin-top: 25px;
    margin-bottom: -20px;
  }
}

@media screen and (min-width: 1000px) {
  .section2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .header {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .header {
    margin-left: 153px;
    margin-right: 153px;
  }

  .invisible ul {
    margin-right: 160px;
    margin-left: 160px;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid2 {
    margin-top: 50px;
  }

  .navigation .flex {
    flex-direction: column;
    transform: translateX(350%);
    align-items: self-start;
  }
  footer .container {
    padding: 0;
  }
  .footer-grid {
    padding: 0px 101px;
  }
  .social-logo {
    transform: translateY(-430%);
  }
  .footer-logo {
    transform: translateY(230%);
  }

  .copyrightDiv {
    transform: translateY(-600%);
  }
}
